<!doctype html>
<html>
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div>
			<h1>Bluehack</h1>
		</div>
		{% if not error %}
		<div>
			<form action="{% url 'bluehack:index' %}" method="post">
			{% csrf_token %}
				<h1><span class="label label-default">Account Creation</span></h1>
				{{ form }}
                <input type="submit" class="btn btn-lg btn-primary" value="Register">
			</form>
		</div>
		{% endif %}
		<div><h1>{{ error }}</h1></div>
	</body>
</html>