<!doctype html>
<html>
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div>
			<h1><span class="label label-info">{{ username }}</span> registered successfully with the following information</h1>
			<ul>
				<li>Password(Hashed): {{ password }}</li>
				<li>Email: {{ email }}</li>
				<li>Cellphone: {{ cellphone }}</li>
				<li>Address: {{ address }}</li>
			</ul>
		</div>
</html>
